.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 50px;
}

.pokeList-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-button {
  font-size: medium;
  font-weight: 500;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  color: black;
  border: 2px solid #008cba;
  margin: 8px 0;
}

.load-button:hover {
  background-color: #008cba;
  color: white;
}
